body
{
	z-index: 10;
	margin: 0 0 0 0;
	font-family: 'Nanum Pen Script', cursive;
	font-size: 21px;
	background: url("/home/aayush/Firsthtml/music.jpg") no-repeat;
	background-size: cover;
	background-attachment: fixed;
	position: absolute;
	height: 100%;
	width: 100%;
	text-align: center;
	top: 0;
}
header{
	z-index: 1;
	background: white;
	position: fixed;
	width: 100%;
	max-height: 73px;
	top: 0;
	margin: 0 0 0 0;
}
.image1{
	float: left;
}
.cl{
	margin-top: 3px;
	padding-left: 0px;
	font-size: 60px;
	font-style: none;
	font-family: 'Nanum Gothic', serif;
	text-decoration: none;
	width: 760px;
	text-align: top;
	color: #009E28;
}

.header1{
	display: flex;
	text-align: left;;
}
.image img{
	width: 75px;
	height: 75px;
	border-radius: 10px;
}
.image{
	flex: 2;
}
.navbar ul li
{
	display: inline;
	margin-right: 15px;
	color: black;	
}
.navbar ul li a{
	color: black;
}
.navbar ul li a: hover{
	color: #ADF1D2;
}
.navbar ul{
	width: 400px;
}
a:hover{
	color:#ADF1D2;
}
ul a{
	color: white;
}
.navbar{
	width: 600px;
	flex: 1;
	justify-content: space-between;
}
.navbar a{
	text-decoration: none;
}
.container-main
{
	
}
.textsection{
	font-size: 80px;
	text-align: center;
	margin: auto;
	margin-top: 20px;
	display: flex; 
}
.tsec{
	flex: 1;
}
.textsection .tsec a{
	text-decoration: none;
	font-family: 'Indie Flower', cursive;
	color: white;
	font-size: 55px;
}
.textsection .tsec a: hover{
	color: black;
}
.tsec1 ul li{
	font-size: 25px;
	list-style: none;
}
.tsec1 a{
	text-decoration: none;
}
.tsec1 p{
	font-size: 30px;
	font-family: 'Rammetto One', cursive;
	color: white;
}
.tsec1{
	flex: 1;
	background: transparent;
}
.columnlayout{
	background: url("/home/aayush/Firsthtml/background.jpg") no-repeat;	
	background-size: cover;
	position: absolute;
	margin : 0 0 0 0;
	height: 100%;
	width: 100%;
	text-align: center;
	display: flex;
	padding: 20px;
	height: 500px; 
	margin-bottom: 30px;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;

}
.callout{
	flex-basis: 30%;
	color: white;
	margin-top: 20px;
}
.callout:nth-child(1){
 
 box-shadow: 0 5px 5px 0px black;
 background: url(/home/aayush/Firsthtml/juke.jpg) no-repeat
 }
.callout:nth-child(2){
 box-shadow: 0 5px 5px 0px black;
 background: url(/home/aayush/Firsthtml/90.jpg) no-repeat;
}
.callout:nth-child(3)
{
 box-shadow: 0 5px 5px 0px black;
 background: url(/home/aayush/Firsthtml/unplugged.jpg) no-repeat;
}
.foot{
	position: absolute;
	margin-top: 510px;
	background: #231942;
	width: 100%;
	max-height: 105px;
	color: white;
	display: flex;
	flex:1;
}
.foot1{
	flex:1;
	align-content: flex-end;
	margin : auto auto;
	padding-left: 520px;
}
.foot a{
	color: white;
}
.foot a: hover{
	color: black;
}
.foot1 ul li{
	display: inline;
	padding-right: 40px;
}
.foot1 ul li a{
	text-decoration: none;
	color: white;
}
.heads{
	color: Black;
	background: #F1FAEE;
	border-radius: 50px;
	margin-top: 50px;
	font-family: 'Lobster', cursive;
	margin-bottom: 0px;
	height: 70px;
	text-align: center;
	margin-top: px;
	font-size: 60px;
}
.para{
	margin: auto auto;
	width:600px;
}
.foot1 ul li a: hover{
	color: black;
}