.form-row{
	padding: 10px 0;
	display: flex;
}
.form-row label{
	padding-right: 10px;
}
.form-row input{
	flex: 1;
}
.column-layout{
	display: flex;
}
.columncolor{
	padding: 20px;
	width: 100%; 
	margin-bottom: 30px;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;

}
.callout{
	flex-basis: 30%;
}
.callout:nth-child(1){
 background-color: green;
}
.callout:nth-child(2){
 background-color: red;
}
.callout:nth-child(3){
 background-color: skyblue;
}