body{
	background-color: lightgrey;
}

.wrappy{
width: 500px;
margin: auto;
}
blockquote{
	border: solid white;
	padding: 10px;
	text-align: center;
	margin-left: 0;
	}
	h1{
		font-family: sans-serif;
	}
	h2{
		font-family: sans-serif;
	}